[submodule "spring-batch/spring-batch-lecture"]
	path = spring-batch/spring-batch-lecture
	url = https://github.com/onjsdnjs/spring-batch-lecture
[submodule "domain-driven-development/ddd-start2"]
	path = domain-driven-development/ddd-start2
	url = https://github.com/madvirus/ddd-start2.git
[submodule "domain-driven-development/ddd"]
	path = domain-driven-development/ddd
	url = https://github.com/wikibook/ddd.git
[submodule "object-oriented-programming/object"]
	path = object-oriented-programming/object
	url = https://github.com/eternity-oop/object.git
